body {
    background-color: #fff;
    min-height: 100svh; 
}

.analysisView-container {
    display: flex;
    width: 100%;;
    margin-top: 10px;
    align-items: center;
    justify-content: center;
}
.analysisView {
    position: relative;
    font-family: 'Times New Roman', Times, serif;
    width: 60%;
    color: #0000;    
    background-color: #E2E8F0;
    border-radius: .6em;
    box-shadow: 4px 3px 3px #9f9f9f;
    height: 13em;
    padding: 1em 1em 0 1em;
    max-width: 90vw;
}
.form-container p {
    position: absolute;
    color: #000;
    top: 120px;
} 
.input-container {
    display: flex;
}
.input-container .urlInput {
    width: 81%;              /* fyll hela containern */
    box-sizing: border-box;   /* så padding inte spränger bredden */
    font-size: clamp(14px, 2vw, 18px);   /* skalbar text */
    padding: clamp(2px, 1.5vw);
    border-radius: .2em;
    background-color: #fff;
    box-shadow: 3px 3px 1px #9f9f9f;
    color: #000;
    max-width: 90vw;
}
.analysisForm input::placeholder {
    color: #9f9f9f;
}
.analysisForm § input:hover {
    border: 1px solid #000;
    box-shadow: none
}

.form-container button {
    height: 2.5em;
    font-size: clamp(14px, 2vw, 18px);  
    max-width: 90vw;
}

.analysisView h1 {
    color: #000;
    font-size: clamp(40px, 2vw, 68px); 
    text-align: center;
}
.close-btn:hover {
    background-color: #9f9f9f;
}
label {
    color: #000;
    font-size: 1em;
}
.labels {
    position: absolute;
    display: flex;
    font-size: clamp(14px, 2vw, 18px); 
    gap: clamp(3rem, 1.5vw, 5vh);
    width: 81%;
    margin: .8em 0 ;   
    justify-content: center;
}
.url {
    margin-left: -5px;
}

@media screen and (max-width: 940px) {
    .input-container .urlInput {
        width: 77%;
    }
    .labels {
        width: 77%;
        gap: clamp(2rem, 1.5vw, 5vh);
   
    }
    
.form-container button {
   left: 82%;
}
}
@media screen and (max-width: 728px) {
   .analysisForm button {
        width: 15%;
        margin: 0 .8em;
        white-space: nowrap;
    }
}
@media screen and (max-width: 670px) {
    .analysisView {
        height: 15em;
    }
    .analysisForm input {
        width: 73%;    
    }
    .labels {
        display: flex;
        flex-direction: column;
        gap: 0;
    }
}
@media screen and (max-width: 500px) {
    span {
        font-size: .9em;
    }
   .analysisView h1 {
        font-size: 2em;
   }
    .labels {
        display: flex;
        flex-direction: column;
    }
    .checkboxes {
        display: flex;
        margin: 2.5em 0 9em;
    }  
     .analysisForm input {
        width: 90%;    
    }
    
    .analysisForm button {
        width: 30%;
        white-space: nowrap;
        right: 30px;      
        top: 35px;
    } 
    .formContainer p {
        position: relative;
        color: #000;
        width: 90%;
    }
    .labels button {
        position: relative;
        right: 30px;
    }
    .label-container {
        font-size: 1em;
    }    
}