.loaderContainer {
    display: block;
    color: black;
    font-size: 3em;
}
.dot {
  display: inline-block;      /* viktigt för transform-translateY att funka snyggt */
  animation-name: bounce;
  animation-duration: 15s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

/* Stagger / delay för varje punkt */
.dot1 {
  animation-delay: 0s;
}
.dot2 {
  animation-delay: 0.15s;
}
.dot3 {
  animation-delay: 0.3s;
}

/* Själva hoppet */
@keyframes bounce {
  0% {
    transform: translateY(0);    /* normal position */
  }
  100% {
    transform: translateY(-6px); /* åk upp lite */
  }
}
